<app-sidebar></app-sidebar>
<div class="header-panel">
  <div class="dropdown">
    <button class="btn-flex">
      <span>Admin</span>
      <img class="user-img" src="../../assets/user.png">
    </button>
    <div class="dropdown-options">
      <a href="#">Dashboard</a>
      <a href="#">Setting</a>
      <a href="#">Logout</a>
    </div>
  </div>
</div>
<div id="home-content" class="side-margin">
    <h5>DASHBOARD</h5>
    <div class="header-dashboard">
        <div class="card header-card card1">
            <div class="card-body">
                <div>
                    <h5 class="card-title">Welcome on board!</h5>
                    <p class="card-text">Please administer the system with ease as assigned to you.</p>
                    <button type="button" class="btn btn-primary task-btn">Visit Task List</button>
                </div>
                <div class="right-img">
                    <img src="../../assets/img1.png">
                </div>
            </div>
            
          </div>
          <div class="card header-card card2">
            <div class="card-body">
                <div class="count-row">
                    <img class="count-img" src="../../assets/total.png">
                    <div class="count-content">
                      <h5>{{dashboardCount.totalCount}}</h5>
                      <span>Total Applications</span>
                    </div>
                </div>
                <div class="count-row">
                  <img class="count-img" src="../../assets/like.png">
                  <div class="count-content">
                    <h5>{{dashboardCount.asApproved}}</h5>
                    <span>A S Approved</span>
                  </div>
              </div>
              <div class="count-row">
                <img class="count-img" src="../../assets/red.webp">
                <div class="count-content">
                  <h5>{{dashboardCount.amlApproved}}</h5>
                  <span>Applications Approved</span>
                </div>
            </div>
                
            </div>
            
          </div>
    </div>
    <div class="main-content table-responsive-lg">
        <table class="table notification-table table-bordered ">
            <thead>
              <tr>
                <th class="msg-col" scope="col"></th>
                <th scope="col">Notification</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of notificationList">
                <td>
                    <img class="notify-img" src="../../assets/msg.png">
                </td>
                <td>
                  <div class="no-left-padding count-content">
                    <h6>{{row.application_status}}</h6>
                    <span>Applications Number: test</span>
                  </div>
                </td>
                <!-- <td>{{row.application_status}}</td> -->
                <td>{{row.created_at}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>