<app-sidebar></app-sidebar>
<div id="home-content" class="side-margin">
    <span>DASHBOARD</span>
    <div class="header-dashboard">
        <div class="card header-card card1">
            <div class="card-body">
                <div>
                    <h5 class="card-title">Welcome on board!</h5>
                    <p class="card-text">Please administer the system with ease as assigned to you.</p>
                    <button type="button" class="btn btn-primary task-btn">Visit Task List</button>
                </div>
                <div class="right-img">
                    <img src="../../assets/img1.png">
                </div>
            </div>
            
          </div>
          <div class="card header-card card2">
            <div class="card-body">
                <div>
                    <h5 class="card-title">Welcome on board!</h5>
                    <p class="card-text">Please administer the system with ease as assigned to you.</p>
                    <button type="button" class="btn btn-primary task-btn">Visit Task List</button>
                </div>
                <div class="right-img">
                    <img src="../../assets/img1.png">
                </div>
            </div>
            
          </div>
    </div>
    <div class="main-content table-responsive-lg">
        <table class="table  table-bordered ">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Notification</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                    <img class="notify-img" src="../../assets/msg.png">
                </td>
                <td>Otto</td>
                <td>T</td>
              </tr>
              <tr>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>f</td>
              </tr>
              <tr>
                <td>Larry</td>
                <td>the Bird</td>
                <td>s</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>