<div id="sidebar" class="active">
    <div>
        <img  class="logo-img" src="../../assets/logo-bg.jpeg">
        <!-- <img *ngIf="mobile" class="logo-img" src="../../assets/logo-sm.png"> -->
    </div>
    <div class="toggle-btn" (click)="toggleSidebar()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul>
        <button *ngIf="mobile" (click)="toggleSidebar()"></button>
        
        <li>
            <a href="#">
                <i class="fa fa-th-large" aria-hidden="true"></i>
                <label class="nav-header">Dashboard</label>
            </a>
            
        </li>
        <li>
            <a href="#">
                <i class="fa fa-table" aria-hidden="true"></i>
                <label class="nav-header">Reports</label>
            </a>
            
        </li>

    </ul>
</div>